:root{
    --buttons: #4492F6;
    --off: #868686;
    --text_color: #F2F2F2;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(imgs/Main_bg.png);
}

body, .card, form, .switch, .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    width: 100dvw;
    height: 100dvh;
    
    backdrop-filter: blur(4px);    
}

.card{
    width: 100dvw;
    max-width: 362px;
    height: 492px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    filter: drop-shadow(23px 22px 17.9px rgba(255, 255, 255, 0.2));
}

.logo_container{
    margin-top: -40px;
}

.logo{
    width: 50%;
}

input{
    width: 100dvw;
    max-width: 261px;
    height: 30px;

    color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: var(--off);
    border-radius: 10px;
    outline: none;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.72px;

    transition-duration: 0.6s;
}

input:hover, input:focus{
    background: #b6b6b6;
    color: black;
}

input::placeholder{
    color: var(--text_color);
    opacity: 0.8;
    font-size: 20px;
}

input:hover::placeholder, input:focus::placeholder{
    color: rgba(0, 0, 0, 0.55);
    transition: 0.6s;
} 

.inputs{
    display: grid;
    gap: 15px;
}

button{
    width: 100dvw;
    max-width: 320px;
    height: 64px;
    border: none;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);

    background-color: var(--buttons);
    transition-duration: 0.4s;
    
    margin-top: 42px;
}

button:hover, button:focus, .login_link:hover, .login_link:focus{
    background-color: #a592eb;
}

.regist_button{
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.96px;
    color: var(--text_color);

    cursor: pointer;
}

.login_option{
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login_link{
    text-decoration: none;
    color: var(--text_color);
    background-color: var(--buttons);
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border: 1.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition-duration: 0.4s;
}

.switchs{
    display: none;
}

@media (max-width: 600px){
    body{
        display: block;
    }

    .card{
        max-width: 100%;
        height: 423px;
        filter: drop-shadow(none);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 60%, rgba(170, 170, 170, 0.8) 100%);
        position: fixed;
        bottom: 0;
        border-radius: 0;
        border-top: 10px solid var(--buttons);
    }

    .logo{
        width: 35%;
    }   

    input{
        max-width: 282px;
        height: 40px;
    }

    .inputs{
        width: 100%;

    }

    button{
        border-radius: 20px;
        width: 100%;
        height: 50px;
    }

    .login_option{
        display: none;
    }

    .switchs{
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: -78px;
    }

    .switch{
        width: 50dvw;
        max-width: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        text-align: center;
        overflow: hidden;
        color: var(--text_color);
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: -0.96px;

        text-decoration: none;
        font-weight: 600;
    }

    .login_switch{
        background-color: var(--off);
        height: 41px;
        font-size: 28px;
    }

    .regist_switch{
        background-color: var(--buttons);
        height: 69px;
        font-size: 36px;
        box-shadow: -6px -8px 6px 6px rgba(0, 0, 0, 0.25);

    }
}