:root{
    --buttons: #4492F6;
    --off: #868686;

}

html{
    background-image: url(imgs/Main_bg.png);
}

body{
    margin: 0;
    padding: 0;

    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 362px;
    height: 492px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    filter: drop-shadow(23px 22px 17.9px rgba(255, 255, 255, 0.2));

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.focim{
    width: 230px;
    height: 110px;

    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.96px;
    margin-bottom: 0;
}

input{
    width: 261px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: var(--off);
    border-radius: 10px;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.72px;

    transition-duration: 0.4s;
}

input:hover, input:focus{
    background: #b6b6b6;
}

input::placeholder{
    color: rgb(0, 0, 0, 0.55);
    
}

.inputs{
    display: grid;
    gap: 30px;
}

button{
    width: 320px;
    height: 64px;
    border: none;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);

    background-color: var(--buttons);
    transition-duration: 0.4s;
    
    margin-top: 42px;

}

button:hover, button:focus, .login_link:hover, .login_link:focus{
    background-color: #73a4ff;
}

.regist_button{
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.96px;
}

.login_option{
    text-align: center;
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.72px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login_link{
    text-decoration: none;
    color: black;
    background-color: var(--buttons);
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border: 1.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition-duration: 0.4s;
}
