html {
    background-image: url(images/bg.png);
}
body {
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100%;
    overflow-x: hidden; 
    height: 100dvh;
    backdrop-filter: blur(4px);
    
}

/* Navbar */
nav{
    padding: 2.5vh 6vh;
    background-color: #030A1B;
    width: 100%;
}
.nav-right
{

}


.shopping-cart
{
    padding:0vh;
}
footer {
    position: fixed;
    bottom: 0;
    padding: 0.2vh 6vh;
    width: 100vw;
    background-color: #030A1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
}

footer p {
    color: #ADF4FF;
    font-size: 14px;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

footer .icons {
    display: flex;
    gap: 15px; 
}
svg {
    cursor: pointer;
}

main {
    width: 100%; height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    width: 90dvw; height: 75dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start Cloumn 1 */

.column-1 {
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(251, 134, 134, 0.20);
    width: 50%; height: 100%;
}

.merch {
    height: 80%;
    border-radius: 20px;
}

.everything{
    display: flex;
    align-items: center;
    filter: drop-shadow(4px 4px black);
}

.arrow_img{
    height: 20px;
    width: 20px;
}

.arrow_button{
    border-radius: 20px;
    padding: 8px;
    margin: 0;
    display: flex;
    align-content: center;
    justify-items: center;
}

/* End Cloumn 1 */

.column-2 {
    background-color: blue;
    width: 25%; height: 100%;
}

/*Column 3 Contents*/

.column-3 {
    background-color: wheat;
    width: 25%; height: 100%;
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.szallitas
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    justify-items: center;
    background-color: azure;
    width: 85%; height: 40%;
    padding-top:1vh;
    margin-top:2vh;
    font-size: 2.5vh;
    border-radius: 5%;
}
.szallitas-header {
    font-size: 4vh;
    margin:0;
}

.szallitas p {
    margin:0.5vh;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid black;
  }

.in-line-svg svg{
    cursor: default;
}

/*
.szallitas-info
{
    background-color:  #ADF4FF;
    width: 85%; height: 10%;
}
*/

/* --- */
