body{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100%;
}
nav{
    padding:2.5vh 6vh;
    background-color: #030A1B;
}
.shopping-cart
{
    padding:0vh;
}
footer{
    position: fixed;
    bottom: 0;
    padding:0.2vh 6vh;
    width: 100%;
    background-color: #030A1B;
}
svg {
    cursor: pointer;
}